@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

div.st-emotion-cache-cnbvxy.e1nzilvr5{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*animation: myAnim 2s ease 0s 1 normal forwards;*/
}

